* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: roboto;
  font-size: 18px;
  background-color: #fff;
}

.intro {
  background: #1f2937;
  border-bottom: 1px solid #ddd;
  color: #f9faf8;
  padding: 0 196px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.logo {
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 64px 0;
  gap: 18px;
}

.image {
  background-color: #e5e7eb;
}

.flex {
  flex: 1;
}

.heading h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bolder;
}

.heading p {
  color: #e5e7eb;
}

.heading a {
  padding: 8px 24px;
  background-color: #3882f6;
  border-radius: 4px;
}

.info {
  padding: 24px 196px 64px;
  margin-bottom: 64px;
}

.info h2 {
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  font-weight: bolder;
  padding: 36px 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.card {
  flex: 1;
  max-width: 200px;
}

.card img {
  width: 200px;
  height: 200px;
  padding: 8px;
  border: 3px solid #3882f6;
  border-radius: 8px;
}

.text {
  text-align: center;
}